{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Подтверждение почты</h4>
        </div>
        <div class="card-body">
          <p>Для завершения регистрации подтвердите ваш адрес электронной почты.</p>
          <p>Пожалуйста, перейдите по ссылке, отправленной на вашу почту.</p>
          <p>Если вы не получили письмо, проверьте вашу папку "Спам".</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}